* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

body {
    font-family: 'Source Code Pro', monospace;
    background: url("../img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #aeaeae;
}

.container {
    padding: 0 16px;
}

.title{
    font-size: 36px;
    font-weight: normal;
}

.profile {
    max-width: 452px;
    box-sizing: border-box;
    margin: 0 auto;
}

.box {
    background: #eee;
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    text-align: center;
    margin-top: 8rem;
}

.profile-picture {
    border-radius: 50%;
    margin: 0 auto 2rem auto;
}

.profile span {
    font-size: 19px;
}

.profile p {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.sobre {
    max-width: 886px;
    box-sizing: border-box;
}

.sobre ul {
    margin-top: 3rem;
    color: #606060;
}

.projetos {
    max-width: 886px;
    box-sizing: border-box;
}

.projetos ul {
    margin-top: 3rem;
}

.projetos li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 1rem;
    color: #606060;
}

/* .projetos li + li {
    margin-top: 2rem;
} */

.projetos img {
    border-radius: 10px;
}

.projetos h2 {
    font-weight: normal;
    margin-bottom: 1rem;
}

.contato {
    max-width: 886px;
    box-sizing: border-box;
}

.contato ul {
    margin-top: 3rem;
    color: #606060;
}

.icons {
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
    width: 120px;
    height: 120px;
}

.icons li {
    margin-right: 1rem;
}

.copyright {
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 16px black;
    margin-top: 20vh 0;
    padding-bottom: 20vh 0;
    text-align: center;
}

@media(max-width: 600px) {
    body {
        background-attachment: initial;
        background-size: contain;
        background-color: #f0e6da;
    }
    .box {
        padding: 2rem;
        margin-top: 4rem;
        border-radius: 30px;
    }
    .box:first-child {
        padding: 3rem;
    }
    .projetos ul {
        margin-top: 1rem;
    }
    .projetos li {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .projetos li div {
        max-width: 448px;
    }
    .copyright {
        font-size: 18px;
        margin: 0;
        padding: 4rem 0;
    }
}